# YouTube AdView Test Prediction

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow
import tensorflow.keras

In [4]:
df=pd.read_csv('./test(1).csv')
df.head()

       vidid    views likes dislikes comment   published  duration category
0   VID_1054   440238  6153      218    1377  2017-02-18   PT7M29S        B
1  VID_18629  1040132  8171      340    1047  2016-06-28   PT6M29S        F
2  VID_13967    28534    31       11       1  2014-03-10  PT37M54S        D
3  VID_19442  1316715  2284      250     274  2010-06-05   PT9M55S        G
4    VID_770  1893173  2519      225     116  2016-09-03    PT3M8S        B

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8764 entries, 0 to 8763
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   vidid      8764 non-null   object
 1   views      8764 non-null   object
 2   likes      8764 non-null   object
 3   dislikes   8764 non-null   object
 4   comment    8764 non-null   object
 5   published  8764 non-null   object
 6   duration   8764 non-null   object
 7   category   8764 non-null   object
dtypes: object(8)
memory usage: 547.9+ KB

In [6]:
df=df[df.views!='F']
df=df[df.likes!='F']
df=df[df.dislikes!='F']
df=df[df.comment!='F']

In [7]:
df['views']=pd.to_numeric(df['views'])
df['likes']=pd.to_numeric(df['likes'])
df['dislikes']=pd.to_numeric(df['dislikes'])
df['comment']=pd.to_numeric(df['comment'])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8549 entries, 0 to 8763
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   vidid      8549 non-null   object
 1   views      8549 non-null   int64
 2   likes      8549 non-null   int64
 3   dislikes   8549 non-null   int64
 4   comment    8549 non-null   int64
 5   published  8549 non-null   object
 6   duration   8549 non-null   object
 7   category   8549 non-null   object
dtypes: int64(4), object(4)
memory usage: 601.1+ KB

In [9]:
vidid_col=df['vidid']
vidid_col

0        VID_1054
1       VID_18629
2       VID_13967
3       VID_19442
4         VID_770
          ...
8759     VID_2944
8760     VID_8195
8761    VID_18973
8762     VID_5849
8763     VID_8494
Name: vidid, Length: 8549, dtype: object

In [10]:
from sklearn.preprocessing import LabelEncoder

df['category']=LabelEncoder().fit_transform(df['category']).astype('int64')
df['vidid']=LabelEncoder().fit_transform(df['vidid']).astype('int64')
df['published']=LabelEncoder().fit_transform(df['published']).astype('int64')

## Converting duration

In [11]:
import time
import datetime

In [12]:
sample=df['duration'][0]
sample[2:]

'7M29S'

In [13]:
def check(x):
    y = x[2:]
    h = ''
    m = ''
    s = ''
    duration = ''
    P = ['H','M','S']
    for i in y:
        if i not in P:
            duration+=i
        else:
            if(i=="H"):
                h = duration
                duration = ''
            elif(i == "M"):
                m = duration
                duration = ''
            else:
                s = duration
                duration = ''
                
    if(h==''):
        h = '00'
    if(m == ''):
        m = '00'
    if(s==''):
        s='00'
    
    bp = h+':'+m+':'+s
    return bp

In [14]:
train=pd.read_csv("train.csv")
mp = pd.read_csv("train.csv")["duration"]
print(mp)
time = mp.apply(check)
print(time)

0        PT7M37S
1        PT9M30S
2        PT2M16S
3        PT4M22S
4          PT31S
          ...
14994    PT6M10S
14995    PT3M56S
14996    PT3M13S
14997      PT26S
14998     PT1M1S
Name: duration, Length: 14999, dtype: object
0         00:7:37
1         00:9:30
2         00:2:16
3         00:4:22
4        00:00:31
           ...
14994     00:6:10
14995     00:3:56
14996     00:3:13
14997    00:00:26
14998      00:1:1
Name: duration, Length: 14999, dtype: object

In [15]:
def func_sec(time_string):
    h, m, s = time_string.split(':')
    return int(h) * 3600 + int(m) * 60 + int(s)

time1=time.apply(func_sec)